{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

  <main>
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Formulario de Pago</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">        
          <!--Card content-->
            <form method="POST" class="card-body">
            {% csrf_token %}

              <!--Grid row-->

              <!--address-->
              <div class="md-form mb-5">
                {% comment %}<input type="text" id="address" class="form-control" placeholder="Direccion">{% endcomment %}
                {{ form.direccion}}
                <label for="address" class=""></label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                {% comment %}<input type="text" id="address-2" class="form-control" placeholder="Direcion Opcional">{% endcomment %}
                {{ form.direccion_departamento}}
                <label for="address-2" class=""></label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Comuna de Residencia</label>
                  {% comment %}<select class="custom-select d-block w-100" id="country" required>
                    <option value="">Choose...</option>
                    <option>United States</option>
                   </select>{% endcomment %}
                    {{ form.comuna}}

                  <div class="invalid-feedback">
                    Favor de seleccionar comuna válida.
                  </div>

                </div>
                <!--Grid column-->

               

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Codigo Postal</label>

                  {% comment %}<input type="text" class="form-control" id="zip" placeholder="" required>{% endcomment %}
                  {{ form.zip}}
                  <div class="invalid-feedback">
                   Código Zip requerido.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <hr>

               <div class="custom-control custom-checkbox">
                <input {% if form.misma_direccion_pago.value %}checked{% endif %} type="checkbox" class="custom-control-input" name="same_billing_address" id="same-address">
                <label class="custom-control-label" for="same-address">Mi direccion de envio es la misma que la del pago </label>
              </div>
              <div class="custom-control custom-checkbox">
                <input {% if form.guardar_informacion.value %}checked{% endif %} type="checkbox" class="custom-control-input" name="save_info" id="save-info">
                <label class="custom-control-label" for="save-info">Guardar información para una futura compra</label>
              </div>

              <hr>

              <div class="d-block my-3">
                {% for value, name in form.fields.opcion_pago.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="opcion_pago" value="{{ value }}" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }} </label> 
                 {% comment %} {{ form.opcion_pago}}{% endcomment %}
                </div>
                {% endfor %}
              </div>
              <hr class="mb-4">
              <button class="btn btn-success btn-lg btn-block" type="submit">Continuar para Pagar</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">

          <!-- Heading -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Tu carro</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>

          <!-- Cart -->
          <ul class="list-group mb-3 z-depth-1">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Nombre Producto</h6>
                <small class="text-muted">Descripcion</small>
              </div>
              <span class="text-muted">"Precio"</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Segundo Producto</h6>
                <small class="text-muted">Descripcion</small>
              </div>
              <span class="text-muted">"Precio"</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">--</h6>
                <small class="text-muted">---</small>
              </div>
              <span class="text-muted">--</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Código Promoción</h6>
                <small>-----</small>
              </div>
              <span class="text-success">"Precio Descuento"</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (CL)</span>
              <strong>...</strong>
            </li>
          </ul>
          <!-- Cart -->

          <!-- Promo code -->
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-secondary btn-md waves-effect m-0" type="button">Aceptar</button>
              </div>
            </div>
          </form>
          <!-- Promo code -->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>

{% endblock content %}